<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AnonMail</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<script type="module">
    import {h, Component, render} from 'https://esm.sh/preact';
    import htm from 'https://esm.sh/htm';

    const html = htm.bind(h);

    function App() {
        return html`
            <div class="container" style="height: 100%">
                <div class="row justify-content-center align-items-center" style="height: 100%">
                    <div class="col-4">
                        <h4>Send your anonymous mail</h4>
                        <br/>
                        <${Form}/>
                    </div>
                </div>
            </div>`;
    }

    function Form() {
        return html`
            <form th:action="@{/sendMail}" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="$mailTo" placeholder="Email to"/>
                    <br/>
                    <input type="text" class="form-control" name="$subject" placeholder="Subject" required/>
                    <br/>
                    <textarea class="form-control" rows="4" name="$content" placeholder="Message" required></textarea>
                </div>
                <br/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        `;
    }

    $(document).ready(() => {
        $("form").submit(event => {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: $(event.target).attr("action"),
                data: JSON.stringify(convertFormToJSON(event.target)),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                encode: true,
            }).done(() => {
                alert("Success!")
            });

            event.preventDefault();
        });
    });

    function convertFormToJSON(form) {
        return $(form)
            .serializeArray()
            .reduce(function (json, { name, value }) {
                json[name] = value;
                return json;
            }, {});
    }

    render(html`
        <${App}/>`, document.body);
</script>
</body>
</html>